/fluxbox/.fluxbox/apps
/fluxbox/.fluxbox/lastwallpaper
/fluxbox/.fluxbox/overlay
/fluxbox/.fluxbox/windowmenu
/fluxbox/.fluxbox/slitlist
/obmenu-generator/.config/obmenu-generator/cache.db
/obmenu-generator/.config/obmenu-generator/icons/
/labwc/.config/labwc/menu.xml
