@define-color background #000000;
@define-color button     #202020;
@define-color border     #606060;
@define-color text       #eeeeee;

/* Global Settings */
* {
    -GtkWidget-vexpand: true;
    animation: none;
    color: @text;
    font: 10pt Cantarell;
    transition: none;
}

/* Main bar */
#layout {
    background-color: @background;
    min-height: 40px;
}

/* Taskbar buttons */
#taskbar_item {
    -GtkWidget-max-width: 198px;
    background-color: @button;
    border: 1px solid @button;
    border-radius: 4px;
    margin-left: 1px;
    min-width: 198px;
    padding: 0px;
}

#taskbar_item.focused, #taskbar_item:hover {
    border: 1px solid @border;
}

/* Taskbar button icons */
#taskbar_item image {
    min-width: 32px;
    padding: 0px 4px;
}

/* Taskbar button label */
#taskbar_item label {
    padding-right: 4px;
}

/* Horizontal spacer */
#spacer {
    -GtkWidget-hexpand: true;
}

/* Tray entries */
#tray_item {
    background-color: @background;
    padding: 0px;
    margin: 0px 1px;
}

/* Tray icons */
#tray_item image {
    min-width: 24px;
}

/* "tray" icons */
.module {
    -GtkWidget-max-height: 24px;
    background-color: @background;
    min-width: 24px;
    padding: 0px;
    padding-top: 8px; /* hack to center */
}

/* Clock */
#clock {
    margin: 0px 10px;
}

#time {
    font-weight: 800; /* extrabold */
}
