@define-color background    #000000;
@define-color button        #202020;
@define-color button-hover  #404040;
@define-color button-border #606060;

/* Global settings */
* {
    -GtkWidget-vexpand: true;
    border-radius: 4px;
    color: #ffffff;
    font: 10pt Cantarell;
    border: 0px;
}

/* Main bar */
#layout {
    background-color: @background;
    min-height: 40px;
}


/* Window button settings */

/* Window buttons */
#taskbar_normal,
#taskbar_active,
#taskbar_normal *,
#taskbar_active * {
    -GtkWidget-hexpand: false;
    -GtkWidget-max-width: 150px;
    background-color: @button;
    border: 1px solid @button;
    margin-left: 1px;
    min-width: 150px;
    padding: 0px;
}

/* Window button icons */
#taskbar_normal image,
#taskbar_active image,
#taskbar_normal:hover image {
    min-width: 32px;
    padding-left: 2px;
    padding-right: 2px;
}

/* Border around active and hovered window button */
#taskbar_active,
#taskbar_normal:hover {
    border: 1px solid @button-border;
}


/* Tray settings */

/* Tray menus */
tray {
    background-color: @button;
}

/* Tray icon area */
#tray_active,
#tray_passive {
    background-color: @background;
    margin-left: 1px;
    margin-right: 1px;
    padding: 0px;
}

/* Tray icons */
#tray_active image,
#tray_passive image {
    min-width: 24px;
}

/* Hover over tray menu items */
#tray:hover {
    background-color: @button-hover;
}


/* "Tray" widgets */

/* Widget menu */
#module {
    background-color: @background;
    margin-left: 1px;
    margin-right: 1px;
    padding: 0px;
}

/* Widget icon */
/* As of 2025-09-24, widget icons are affected by global vexpand. */
#module button {
    -GtkWidget-vexpand: false;
    padding-top: 8px; /* center hack */
    min-width: 24px;
}


/* Other settings */

#time {
    font-weight: bold;
}

menu {
    background-color: @button;
}

#menu_item:hover {
    background-color: @button-hover
}
