# theme
Theme = "Materia-dark"

# window operations (minimize, close, etc.)
include("winops.widget")

# panel layout
layout {
  exclusive_zone = "auto"
  layer = "top"

  taskbar {
    rows = 1
    icons = true
    labels = true
    action[MiddleClick] = Close  # middle mouse button
    action[RightClick] = Menu "winops"  # right mouse button
  }

  label {
    css = "* { -GtkWidget-hexpand: true; }"
    action[RightClick] = Exec "wtype -M win -P KP_0"
  }

  tray {
    rows = 1
  }

  include("volume.widget")

  grid {
    css = "* { padding-left: 10px; padding-right: 10px; }"
    label {
      style = "time"
      value = Time("%R")
      loc(1,1)
    }
    label {
      style = "date"
      value = Time("%a %F")
      loc(1,2)
    }
  }

  action[ScrollUp] = Exec "wtype -M win -M shift -P Tab"
  action[ScrollDown] = Exec "wtype -M win -P Tab"
}

#CSS
window {
    -GtkWidget-direction: top;
}
