#Api2
include "cal.widget";
include "winops.widget";

Theme = "Materia-dark";

bar {
    edge = top;
    action[ScrollUp] = Exec("wtype -M win -M shift -k Tab -m shift -m win");
    action[ScrollDown] = Exec("wtype -M win -k Tab -m win");

    taskbar {
        action[MiddleClick] = Close();
        action[RightClick] = Menu("winops");
        filter = workspace; # A man can dream.
        icons = true;
        sort = false;
        style = "taskbar";
    }

    label {
        action[RightClick] = Exec("wtype -M win -k KP_0 -m win");
        style="spacer";
    }

    tray {
        style="tray";
    }

    widget "volume.widget";
    widget "battery.widget"; # Won't show on desktop.

    grid {
        action[LeftClick] = PopUp("XCal");
        style = "clock";

        label {
            loc(1,1);
            style = "time";
            value = Time("%R");
        }
        label {
            loc(1,2);
            style = "date";
            value = Time("%a %F");
        }
    }
}
