@define-color background    rgba(0, 0, 0, 0.8);
@define-color button        rgba(120, 120, 120, 0.2);
@define-color button-hover  rgba(170, 170, 170, 0.2);
@define-color button-border rgba(255, 255, 255, 0.4);
@define-color tooltip       rgba(120, 120, 120, 0.4);

* {
    color: white;
    font-family: Cantarell, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: @background;
}

tooltip {
    background-color: @tooltip;
}

#taskbar button {
    background-color: @button;
    border: 1px solid;
    border-color: @button;
    margin: 0px 1px;
    min-width: 200px;
}

#taskbar button:hover {
    background-color: @button-hover;
    border-color: @button-border;
}

#taskbar button.active {
    border-color: @button-border;
}

#clock {
    font-weight: bold;
    padding: 0px 10px;
}

#pulseaudio {
    font-weight: bold;
    padding: 0px 10px;
}

#tray {
    padding: 0px 10px;
}
