# init
function("SfwbarInit") {
  SetBarId "bar-0"
  SetLayer "top"
}

# theme
Theme = "Materia-dark"

# window operations (minimize, close, etc.)
include("winops.widget")

# panel layout
layout {
  taskbar {
    rows = 1
    #css = "* { -GtkWidget-hexpand: true; }"  # stretch horizontally
    icons = true
    labels = true
    action[2] = Close  # middle mouse button
    action[3] = Menu "winops"  # right mouse button
  }

  label {
    css = "* { -GtkWidget-hexpand: true; }"
  }

  tray {
    rows = 1
  }

  grid {
    css = "* { padding-left: 5px; padding-right: 5px; }"
    label {
      style = "time"
      value = Time("%k:%M")
      loc(1,1)
    }
    label {
      style = "date"
      value = Time("%A %d %B")
      loc(1,2)
    }
  }
}

#CSS
window {
    -GtkWidget-direction: top;
}
